<div id="<%= dom_id stock %>">
  <p>
    <strong>Name:</strong>
    <%= stock.name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= stock.quantity %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= stock.amount %>
  </p>

</div>
