default: &default
  adapter: mysql2
  encoding: utf8mb4
  pool: 5
  username: appuser
  password: apppass
  host: db
  port: 3306

development:
  <<: *default
  database: app_development

test:
  <<: *default
  database: app_test

production:
  url: <%= ENV["DATABASE_URL"] %>
  pool: 5

