default: &default
  adapter: mysql2
  encoding: utf8mb4
  pool: 5
  username: appuser
  password: apppass
  host: db
  port: 3306

development:
  <<: *default
  database: app_development

test:
  <<: *default
  database: app_test

# Heroku 本番用（Postgres を DATABASE_URL で使う）
production:
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  url: <%= ENV['DATABASE_URL'] %>

